# Osho Agyeya : oshoagyeya123@gmail.com

# Olympics Dataset - Case Study
=====================================================

Load the olympics dataset (olympics.csv), which was derrived from the Wikipedia entry on All Time Olympic Games Medals.
You can use whichever Python Libraries required.

In [216]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()  # for plot styling
from mpl_toolkits import mplot3d

## Question - 1:

Create a dataframe with following data cleanup to make this file redable.

Create a function load_data to read CSV file and convert CSV data to dataframe.
Skip first row
Rename column containing 01, 02 and 03 to Gold, Silver and Bronze
Split country name and country code and add country name as data frame index
Remove extra unnecessary characters from country name.
Drop the column Totals
Return dataframe.

In [136]:
def load_data():
    df=pd.read_csv('olympics.csv',skiprows=1)
    df=df.rename(columns={"01 !":"s_gold","02 !":"s_silver","03 !":"s_bronze",
                         "01 !.1":"w_gold","02 !.1":"w_silver","03 !.1":"w_bronze",
                         "01 !.2":"t_gold","02 !.2":"t_silver","03 !.2":"t_bronze",
                         "Total":"t_summer","Total.1":"t_winter",
                         })
    df.columns.values[0]="country full"
    df["country"]=df["country full"].str.split("(").str.get(0)
    df=df.drop(["Combined total"],axis=1)
    return df

## Question - 2:
Write a function to get first country details from dataframe we got from load_data function.

Create a function first_country.
Return results for first country.

In [137]:
def first_country(df):
    first=df.iloc[0]
    return first

## Question - 3:
Which country has won the most gold medals in summer games?

Create a function gold_medal to get name of country who won most gold medals.
Return country name

In [139]:
def gold_medal(df):
    max_gold=df[df["s_gold"]==df["s_gold"].max()]
    return (max_gold["country"])

## Question - 4:
Which country had the biggest difference between their summer and winter gold medal counts?

Create a function biggest_difference_in_gold_medal to get name of country who has biggest difference between their summer and winter gold medal counts.
Return country name.

In [163]:
def biggest_difference_in_gold_medal(df):
    dg=abs(df["s_gold"]-df["w_gold"])
    mdg=max(dg)
    bd=df[abs(df["s_gold"]-df["w_gold"])==mdg]
    return bd["country"]

## Question - 5:
Write a function to update the dataframe to include a new column called "Points" for Games which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created.

Create a function get_points.
Return dataframe with points column and index.

In [174]:
def get_points(df):
    Points=(df["s_gold"]+df["w_gold"])*3+(df["s_silver"]+df["w_silver"])*2+(df["s_bronze"]+df["w_bronze"])*1
    return Points

## Question - 6
Write a function to perform k-means clustering for the given dataset.

Create a fucntion k_means()
Return
Optimum value of k
Cluster centers

In [238]:
def k_means(df):
    #to do k means clustering
    x1=np.array(df["t_summer"])
    x2=np.array(df["t_winter"])
    x = np.vstack((x1, x2)).T
    kmeans=KMeans(init="k-means++").fit(x)
    l=kmeans.labels_
    k=set(l)
    c=kmeans.cluster_centers_
    return k,c

In [241]:
#main function here
if __name__=="__main__":
    df=load_data()
    df=df[:-1]
    df.reset_index()
    print("----------------------------------------------------")
    print("Ans for ques 2\n")
    first=first_country(df)
    print(first)
    print("----------------------------------------------------")
    print("Ans for ques 3\n")
    gold_max=gold_medal(df)
    print(gold_max)
    print("----------------------------------------------------")
    print("Ans for ques 4\n")
    bdgm=biggest_difference_in_gold_medal(df)
    print(bdgm)
    print("----------------------------------------------------")
    print("Ans for ques 5\n")
    Points=get_points(df)
    df["Points"]=Points
    print(df.head())
    print("----------------------------------------------------")
    print("Ans for ques 6\n")
    k,c=k_means(df)
    print("Value of k is",k)
    print("Cluster centroids co-ordinates are\n",c)
    print("----------------------------------------------------")

----------------------------------------------------
Ans for ques 2

country full    Afghanistan (AFG)
# Summer                       13
s_gold                          0
s_silver                        0
s_bronze                        2
t_summer                        2
# Winter                        0
w_gold                          0
w_silver                        0
w_bronze                        0
t_winter                        0
# Games                        13
t_gold                          0
t_silver                        0
t_bronze                        2
country              Afghanistan
Name: 0, dtype: object
----------------------------------------------------
Ans for ques 3

135    United States
Name: country, dtype: object
----------------------------------------------------
Ans for ques 4

135    United States
Name: country, dtype: object
----------------------------------------------------
Ans for ques 5

              country full  # Summer  s_gold  s_silver  s_bronze  t_summer  \
0        Afghanistan (AFG)        13       0         0         2         2
1            Algeria (ALG)        12       5         2         8        15
2          Argentina (ARG)        23      18        24        28        70
3            Armenia (ARM)         5       1         2         9        12
4  Australasia (ANZ) [ANZ]         2       3         4         5        12

   # Winter  w_gold  w_silver  w_bronze  t_winter  # Games  t_gold  t_silver  \
0         0       0         0         0         0       13       0         0
1         3       0         0         0         0       15       5         2
2        18       0         0         0         0       41      18        24
3         6       0         0         0         0       11       1         2
4         0       0         0         0         0        2       3         4

   t_bronze       country  Points
0         2  Afghanistan        2
1         8      Algeria       27
2        28    Argentina      130
3         9      Armenia       16
4         5  Australasia       22
----------------------------------------------------
Ans for ques 6

Value of k is {0, 1, 2, 3, 4, 5, 6, 7}
Cluster centroids co-ordinates are
 [[  4.69333333e+02   9.07777778e+01]
 [  9.77450980e+00   8.82352941e-01]
 [  2.39900000e+03   2.82000000e+02]
 [  2.47400000e+02   6.98000000e+01]
 [  1.01000000e+03   1.94000000e+02]
 [  1.01315789e+02   5.36842105e+00]
 [  1.17000000e+02   2.73500000e+02]
 [  7.25500000e+02   6.75000000e+01]]
----------------------------------------------------

# Complex number class
==============================================

In [1]:
from Complex import complex_number as c #class has been implemented in Complex.py

a=c(1,2)
b=c(3,-4)

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(abs(a))
print(a.real())
print(a.imag())
print(a.argument())  #in radians
print(a.conjugate())

4-2i
-2+6i
11+2i
-0.2+0.4i
2.23606797749979
1
2
1.1071487177940904
1-2i